*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Wrapper {
    max-width: 1280px;
    min-height: 100vh;
    background-color: rgba(147, 171, 185, 0.651);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Board {
    border: 2px solid #1976d2;
    border-radius: 10px;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.Info_board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    border: 2px solid #1976d2;
    border-radius: 10px;
    font-size: 60px;
    color: #1976d2;
}

.Button_board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    border: 2px solid #1976d2;
    border-radius: 10px;
}
